#calculatorContainer {
  margin: auto;
  height: 315px;
  width: 250px;
  border: 10px solid whitesmoke;
  border-radius: 0px;
  background-color: whitesmoke;
}



.output {
  height: 100px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  border-bottom: 1px solid whitesmoke;
}

p {
  color: lightslategray;
  border-bottom: 1px solid lightslategray;
  font-size: medium;
  font-family: "Lucida Console", Courier, monospace;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;

}

h1 {
  padding: 3% 0;
  color: black;
  font-size: large;
  font-family: "Lucida Console", Courier, monospace;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;

  max-width: 290px;
}


.input {
  height: 300px;
  width: 250px;

}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px;
}

button {
  cursor: pointer;
  padding: initial;
  font-weight: bold;
  font-size: large;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  border-radius: 1px;
  background: white;
}


.operator {
  background: lightslategray;
  color: black;
  font-size: large;
  font-family: "Lucida Console", Courier, monospace;
  }

#button-equal {
  background: lightskyblue;
  color: black;
  font-size: large;
  font-family: "Lucida Console", Courier, monospace;
}

[id^="button-"]:hover {
  background: darkgrey !important;
}

#button-clear {
  width: 200%;
  background: lightslategray;
  font-size: small;
  font-family: "Lucida Console", Courier, monospace;
}

#button-backspace {
  width: 200%;
  margin: 0 0 0 100%;
  background: lightslategray;
  font-size: x-large;
  font-family: "Lucida Console", Courier, monospace;
}