* {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }

  .title { 
    margin: auto;
    margin-bottom: 5px; 
    text-align: center; 
    width: 298px; 
    color: black;
    background-color: lightgray;
    border: solid black 2px; 
    display: inline-flexbox;
  } 

  input[type="button"] { 
    background-color: lightgray;
    color: black; 
    border: solid black 2px; 
    width: 100%;
  } 

  input[type="text"] { 
    background-color:white;
    border: solid black 2px; 
    width: 100%; 
  } 